<!doctype html>
<html amp lang="en">
  {{ partial "head.html" . }}  
  <body class="bg-gray-200 font-sans">
    {{ partial "nav.html" . }}
    <main id="main">
      {{ partial "coverImage.html" . }}
      {{ $contentDivClass := ""}}
      {{ with .Params.cover.src }}
        {{ $contentDivClass = "md:-mt-12 lg:-mt-32 relative z-25" }}
      {{ end }}
      <div class="{{ $contentDivClass }}">
      {{ block "main" . }}{{ end }}
      </div>
    </main>
    {{ partial "footer.html" }}
  </body>
</html>