@font-face {
  font-family: 'Crimson Pro';
  src: url('/fonts/CrimsonPro-Italic-VF.ttf') format('truetype-variations');
  font-style: italic;
  weight: 275 900;
}

@font-face {
  font-family: 'Crimson Pro';
  src: url('/fonts/CrimsonPro-Roman-VF.ttf') format('truetype-variations');
  font-style: normal;
  weight: 275 900;
}

@font-face { 
  font-family: 'Science Gothic';
  src: url('/fonts/ScienceGothicVF.ttf') format('truetype-variations');
  font-style: normal;
  weight: 100 900;  
}

.font-sans 	{
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
}

.font-serif 	{
  font-family: "Crimson Pro", Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: 400;
 }

.font-display {
  font-family: "League Spartan", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
}

.font-weird {
  font-family: "Science Gothic", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  font-stretch: normal;
}

.font-w-ultra-condensed {
  font-stretch: ultra-condensed;
}

.font-w-extra-condensed {
  font-stretch: extra-condensed;
}

.font-w-condensed {
  font-stretch: condensed;
}

.font-w-semi-condensed {
  font-stretch: semi-condensed;
}

.font-w-normal {
  font-stretch: normal;  
}

.font-w-semi-expanded {
  font-stretch: semi-expanded;
}

.font-w-expanded {
  font-stretch: expanded;
}

.font-w-extra-expanded {
  font-stretch: extra-expanded;
}

.font-w-ultra-expanded {
  font-stretch: ultra-expanded;
}

.font-mono 	{
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-weight: 400;
}

figcaption .editorial,
.editorial p {
  @apply mb-5;
  font-kerning: normal;
  font-variant-ligatures: common-ligatures contextual; 
  font-variant-numeric: oldstyle-nums proportional-nums;
  font-feature-settings: "kern", "liga", "clig", "calt", "onum", "pnum";
}

.editorial p abbr {
  font-kerning: normal;
  font-variant-ligatures: common-ligatures contextual; 
  font-variant-numeric: oldstyle-nums proportional-nums;
  font-feature-settings: "kern", "liga", "clig", "calt", "onum", "pnum", "smcp", "c2sc";
}

.editorial blockquote {
  @apply font-sans font-light text-base pl-5 border-l-2 border-gray-300;
}

.editorial ol {
  @apply ml-10 mb-5;
  list-style-type: decimal;
}

.editorial ul li {
  @apply ml-10 mb-5;
  list-style-type: disc;
}

.editorial hr {
  @apply my-10;
}

.ln {
  @apply text-orange-700;
  box-shadow: #fbd38d 0 -1px 0 inset;
}

.ln:hover {
  @apply text-orange-600;
}

.ln-dark {
  @apply text-teal-200;
  box-shadow: #fbd38d 0 -1px 0 inset;
}

.ln-dark:hover {
  @apply text-blue-200;
}


.editorial a {
  @apply ln;
}

.coverart figcaption {
  z-index:50;
}

.coverart figcaption a {
  @apply ln-dark;
}

.bg-paisley-gray {
  @apply bg-gray-900;  
}

.terminal {
  @apply h-32 m-32 mx-auto text-gray-400;
  transform: rotate(-90deg);
}

@screen 2xl {
  .coverart figcaption {
    @apply pb-0 right-auto max-w-xs;
    left: 50%;
    transform: translateX(35.9375rem) translateY(100%);
  }

  .coverart figcaption a {
    @apply ln;
  }
}

@supports (background-blend-mode: multiply) {
  .bg-paisley-gray {
    background: #2d3748 url('/img/paisley-low.jpg') scroll no-repeat 50% 50% / cover;
    background-blend-mode: multiply;
  }
}


