<div class="sponsors-wrapper md:flex-0  md:min-w-206 ml-auto lg:flex-two xl:flex-sixty lg:text-right">
    <div class="sponsors lg:inline-block lg:text-left">
        <span class="uppercase font-sans font-semibold text-white text-sm leading-24">Sponsored By</span>
        <div class="sponsor-icons pt-5">
            <a href="https://www.radcliffe.harvard.edu/schlesinger-library" class="mr-45"><span class="text-white hover:text-primary-var text-small-sponsor-icon-size xl:text-sponsor-icon-size ic ic--schlesinger"></span></a>
            <span class="sponsor-divider hidden xl:inline-block mr-45 border-neutral-mid border-solid border-l-1 h-100"></span>
            <a href="https://mellon.org/"><span class="text-white hover:text-primary-var text-small-sponsor-icon-size xl:text-sponsor-icon-size ic ic--mellon"></span></a>
        </div>
    </div>
</div>