{{ $linkStyle := "font-semibold text-lg leading-28 underline hover:text-primary-var" }}
<p class="text-lg leading-28 pb-20">
  The Long 19th Amendment Project website is an open-access digital portal striving to connect transnational audiences to the <a href="/resources" class="{{ $linkStyle }}">library’s resources and other documents</a>, <a href="/data" class="{{ $linkStyle }}">data sets</a>, <a href="#" class="{{ $linkStyle }}">projects &amp; exhibits</a>, and <a href="/teaching" class="{{ $linkStyle }}">teaching materials</a>.
</p>

<a href="/about" class="font-semibold text-xl text-white leading-30 pb-3 shadow-fancy-dark hover:shadow-fancy-dark-hover">About the Portal</a>
