<div class="md:flex py-10 justify-between items-start border-b-2 border-gray-200 clearfix">
  {{ partial "thumbnailImage.html" . }}
  <div class="pl-10 flex-auto">
    <h2>
      <span class="block text-base text-gray-700 italic">{{- .Date.Format (.Site.Params.dateformat | default "Jan 02, 2006") -}}</span>
      <a class="text-3xl font-display font-light ln" href="{{ .Permalink }}">{{ .Title }}</a>
    </h2>
    <div class="my-5 text-gray-700 text-xl">
    {{ .Description }}
    </div>
  </div>
</div>
