{{ if .Params.cover }}
{{ $image := .Page.Resources.GetMatch .Params.cover.src }}
{{ if $image }}
<div class="md:shadow-xl mb-10 md:m-0 md:border-2 flex-none border-gray-400" >
  {{ $small := $image.Fill "480x240" }}
  <a href="{{ .RelPermalink }}">
    <amp-img 
      layout="responsive" 
      class="block" 
      height="{{ $small.Height }}" 
      width="{{ $small.Width }}" 
      src="{{ $small.RelPermalink }}" 
      alt="{{ .Params.cover.alt }}">
    </amp-img>
  </a>
</div>
{{ else }}
<div>
  No Image
</div>
{{ end }}
{{ end }}
