{{ define "main" }}
  <div class="c-container mx-auto bg-white p-20">
    <h1>
      {{ with .Params.supertitle }}
      <span class="block text-xl uppercase text-gray-800">{{ . }}</span>
      {{ end }}
      <span class="block text-3xl">{{ .Title }}</span>
      {{ with .Params.subtitle }}
      <span class="block text-xl text-gray-700">{{ . }}</span>
      {{ end }}      
    </h1>
    {{ .Content }}
    <div class="z-50">
      {{ range .Site.RegularPages }}
        {{ partial "post-loop.html" . }}
      {{ end }}
    </div>
  </div>
{{ end }}

