{{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "/" }}
{{ $permaLink := .Permalink }}
{{ $.Scratch.Add "path" "/" }}
{{ $thisPath := "" }}
<p class="pt-45 pb-15 xl:py-20 font-sans mx-auto max-w-780">
  <a class="text-xs leading-20 font-semibold shadow-link hover:text-tertiary hover:shadow-link-hover" href="/">Home</a>
  <span class="text-sm text-neutral font-light leading-12 pl-4 pr-3 align-middle inline-block mb-3"> / </span>
  {{ range $index, $element := split $url "/" }}
    {{ $.Scratch.Add "path" $element }}
      {{ if ne $element "" }}
      {{ $thisPath = $.Scratch.Get "path" }}
      {{ $page := $.Site.GetPage $thisPath }}
      {{ with $page }}
        {{ if ne ( printf "%s/" $thisPath ) $url }}
          <a class="text-xs leading-20 font-semibold shadow-link hover:text-tertiary hover:shadow-link-hover" href='{{ .Permalink }}'>{{ .Title }}</a>
          <span class="text-sm text-neutral font-light leading-12 pl-4 pr-3 align-middle inline-block mb-3"> / </span>
        {{ else }}
          <span class="text-xs leading-20">{{ .Title }}</span>
        {{ end }}
      {{ end }}
      {{ $.Scratch.Add "path" "/" }}
      {{ end }}
  {{ end }}
</p>