{{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "/" }}
{{ $permaLink := .Permalink }}
{{ $.Scratch.Add "path" "/" }}
{{ $thisPath := "" }}
<p class="font-sans mx-auto">
  <a class="text-xs" href="/">Home</a>
  <span class="text-xs font-light px-2"> / </span>
  {{ range $index, $element := split $url "/" }}
    {{ $.Scratch.Add "path" $element }}
      {{ if ne $element "" }}
      {{ $thisPath = $.Scratch.Get "path" }}
      {{ $page := $.Site.GetPage $thisPath }}
      {{ with $page }}
        {{ if ne ( printf "%s/" $thisPath ) $url }}
          <a class="text-xs" href='{{ .Permalink }}'>{{ .Title }}</a>
          <span class="text-xs font-light px-2 inline-block"> / </span>
        {{ else }}
          <span class="text-xs">{{ .Title }}</span>
        {{ end }}
      {{ end }}
      {{ $.Scratch.Add "path" "/" }}
      {{ end }}
  {{ end }}
</p>