{{ $align := .Get "align" }}

{{ $classes := "" }}
{{ $imgsize := "500x500" }}
{{ if eq $align "right" }}
  {{ $classes = "bg-gray-100 px-5 pt-5 pb-1 mb-5 xl:float-right xl:w-88 xl:-mr-48 xl:ml-16 xl:mt-2" }}
{{ else if eq $align "left" }}
  {{ $classes = "aside bg-gray-100 px-5 pt-5 pb-1 mb-5 xl:float-left xl:w-88 xl:-ml-96 xl:mt-2" }}
{{ else }}
  {{ $classes = "block mt-30 mb-10 -mx-60" }}
  {{ $imgsize = "1400x1050" }}
{{ end }}

{{ $img := .Get "src"}}
{{ $href := .Get "href" }}
{{ $video := .Get "video" }}
{{ $alt := .Get "alt" }}

{{ $image := .Page.Resources.GetMatch $img }}
{{ $resized := $image.Fit $imgsize }}

{{ $imgTitle := "" }}
{{ if eq $video "true" }}
  {{ $imgTitle = "Watch this video on the host site." }}
{{ end }}

<figure class="{{ $classes }}">
  {{ if $href }}
  <a href="{{ $href }}" title="{{ $imgTitle }}">
    <amp-img layout="responsive" height="{{ $resized.Height }}" width="{{ $resized.Width }}" class="mx-auto" src="{{ $resized.RelPermalink }}" alt="{{ $alt }}"></amp-img>
  </a>
  {{ else }}
  <amp-img layout="responsive" height="{{ $resized.Height }}" width="{{ $resized.Width }}" class="mx-auto" src="{{ $resized.RelPermalink }}" alt="{{ $alt }}"></amp-img>
  {{ end }}
  <figcaption class="text-sm font-sans leading-relaxed text-gray-700 mt-4">
    {{ .Inner }}
  </figcaption>
</figure>

